<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vginert.brastlewark.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:name=".AndroidApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.activity.HeroListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.HeroDetailsActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".view.activity.HeroFilterActivity"
            android:label="@string/filter_activity_title"
            android:launchMode="singleInstance">
        </activity>

    </application>

</manifest>
